<!DOCTYPE html>
<html>

<head>
	<title>Super Sprinter 3000</title>
	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		
		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}
		
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>
</head>

<body>
	<h1>Super Sprinter 3000</h1>
	<form action='http://localhost:5000/form'>
		<input type="submit" value="Add new user story" />
	</form>
	<br>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Story title</th>
				<th>User story</th>
				<th>Acceptance criteria</th>
				<th>Business value</th>
				<th>Estimation</th>
				<th>Status</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		{% for story in user_stories %}
		<tbody>
			<tr>
				<td>{{story.id}}</td>
				<td>{{story.story_title}}</td>
				<td>{{story.user_story}}</td>
				<td>{{story.acceptance_criteria}}</td>
				<td>{{story.business_value}}</td>
				<td>{{story.estimation}}</td>
				<td>{{story.status}}</td>
				<td>
					<form action="/story/{{story.id}}" method="get">
						<input type="image" src="../static/img/pencil.png" width="20" alt="Edit">
					</form>
				</td>
				<td>
					<form action="/delete/{{story.id}}" method="post">
						<input type="image" src="../static/img/bin.png" width="20" alt="Delete">
					</form>
				</td>
			</tr>
		</tbody>
		{% endfor %}
	</table>

</body>

</html>